* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

h3 {
  /* padding-bottom: 10px; */
}

.users {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.user-box {
  margin-bottom: 20px;
  background-color: orange;
  flex-basis: 45%;
}